body {
    background-color:rgb(235, 232, 222);
}

button {
    cursor: pointer;
    padding: 10px 30px;
    background: transparent;
    border: 1px solid rgb(95, 92, 92);
    border-radius: 8px;
    text-transform: uppercase;
    color: rgb(95, 92, 92);
    transition: ease-in-out 0.45s;
}

button:hover {
    color: rgb(235, 232, 222);
    background: rgb(95, 92, 92);
}

button:disabled:hover {
    cursor: not-allowed;   
    color: rgb(95, 92, 92);
    background: transparent;
}

#inicio {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 24px;
}

#contenedor {
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, 1fr));
    gap: 10px;
    justify-items: center;
}

img {
    background-color: black;
    width: 200px;
    height: 150px;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 5px;

}

h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
    color: white;
    text-transform:uppercase;
    margin-top: 20px;
    font-family: 'Bad Script', cursive;
    text-shadow: 0 0 10px black;
}



#pos-delete{
    width: 20px;
    font-size: 20px;
    text-align: center;
    background: transparent;
    border: none;
    font-weight: bold;
    padding: 10px;
}

.flecha {
    display: inline-block;
    cursor: pointer;
    width: 10px;
    height: 10px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
}

.izquierda {
    transform: rotate(-135deg);
}

.derecha {
    transform: rotate(45deg);
}

input[type="number"]{  
    outline: none;
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}