*{
    margin: 0 auto;
    padding: 0;
}

body{
    background-color: #E5E7E9;
}

header {
    background-image: url("https://images.unsplash.com/photo-1587620962725-abab7fe55159?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1631&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh; 
}

#header {
    background-color: rgba(0,0,0,0.5);
}


h1{
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color: rgb(255, 137, 0);
    text-align: center;
    font-size: 60px;

}

nav{
    background-color: #4CAF50;
    height: 60px;
    opacity: 0.8;
}

.button1{
    border-radius: 60px;
    padding: 16px 32px;
    font-size: 20px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    margin: 2px 0 0 2px;
    background-color: #4CAF50;
    color: white;
    border: 2px solid #4CAF50;
    margin: 0 2px 0 2px;
}

.button1:hover{
    background-color: white;
    color: black;
}

h2 {
    color: #ffffff;
    font-family: "calibri", Garamond, "Comic Sans";
    letter-spacing: 1px;
    text-align: center;
}

h3 {
    letter-spacing: 1px;
    font-family: times, serif;
    margin-bottom: 10px;    
}

#main {
    margin-top: 20px;
    margin-bottom: 90px;
    padding-left: 5px;
}

footer {
    background-color: #4caf50;
    text-align: center;
    padding: 1.5%;
    color: white;   
}

ol{
    font-family: Arial;
}

li {
    list-style-position: inside;
}
 

