div.columna {
    height: 50px;
    width: 50px;
    margin: 5px;
    display: inline-block;
}

div.bordes {
    border-radius: 20%;
}

div.circulos {
    border-radius: 50%;
}

.rojo {
    background-color: red;
}

.verde {
    background-color: green;
}

.azul {
    background-color: blue;
}

.amarillo {
    background-color: yellow;
}

.morado {
    background-color: violet;
}

#tabla {
    width: 320px;
}

#fila1 {
    background-color: gainsboro;
}

#fila2 {
    background-color:wheat;
}

#fila3 {
    background-color:rgb(145, 247, 114)
}