#grid{
    display: grid;
    grid-template-areas: 
                 "fila1" 
                 "fila2" 
                 "fila3";
    border-collapse: collapse;
    width: 330px;
    margin-bottom: 50px;
}

#fila1 {
    display: grid;
    background-color: gainsboro;
    grid-area: fila1;
    grid-template-areas: "RectR RectG RectB RectY RectV"; 
}

#fila2 {
    display: grid;
    background-color:wheat;
    grid-area: fila2;
    grid-template-areas: "BorderR BorderG BorderB BorderY BorderV"; 
}

#fila3 {
    display: grid;
    background-color:rgb(145, 247, 114);
    grid-area: fila3;
    grid-template-areas: "CirR CirG CirB CirY CirV"; 
}

#fila1 > div.rojo {
    grid-area: RectR; 
    cursor: wait;
}

#fila1 > div.verde {
    grid-area: RectG;
    cursor: pointer;
}

#fila1 > div.azul {
    grid-area: RectB;
    cursor: grab;
}

#fila1 > div.amarillo {
    grid-area: RectY;
    cursor: alias;
}

#fila1 > div.morado {
    grid-area: RectV;
    cursor: all-scroll;
}

#fila2 > div.rojo {
    grid-area: BorderR;
    cursor: cell;
}

#fila2 > div.verde {
    grid-area: BorderG;
    cursor: crosshair;
}

#fila2 > div.azul {
    grid-area: BorderB;
    cursor: default;
}

#fila2 > div.amarillo {
    grid-area: BorderY;
    cursor: zoom-in;
}

#fila2 > div.morado {
    grid-area: BorderV;
    cursor: zoom-out;
}

#fila3 > div.rojo {
    grid-area: CirR;
    cursor: context-menu;
}

#fila3 > div.verde {
    grid-area: CirG;
    cursor: copy;
}

#fila3 > div.azul {
    grid-area: CirB;
    cursor: progress;
}

#fila3 > div.amarillo {
    grid-area: CirY;
    cursor: ew-resize;
}

#fila3 > div.morado {
    grid-area: CirV;
    cursor: none;
}

div.columna {
    height: 50px;
    width: 50px;
    margin: 5px;
}

div.bordes {
    border-radius: 20%;
}

div.circulos {
    border-radius: 50%;
}

.rojo {
    background-color: red;
    border: 3px solid violet;
}

.verde {
    background-color: green;
    border: 3px dashed red;
}

.azul {
    background-color: blue;
    border: 3px double green;
}

.amarillo {
    background-color: yellow;
    border: 3px dotted blue;
}

.morado {
    background-color: violet;
    border: 3px groove yellow;
}

input[type=checkbox], input[type=radio] {
    display: none;
}

input[type=checkbox]:checked + .columna, input[type=radio]:checked + .columna {
    transform: rotate(45deg);

}

.columna:hover{
    transform: translateY(-10px);
}


