* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

#contenido {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.now {
    width: 200px;
    height: 60px;
    color: #fec017;
    font-size: 40px;
    font-family: Orbitron;
    letter-spacing: 7px;
}