.informacion{
    display: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

#ccuenta[value=gratuita]:checked ~ #gratuita{
    display:block;
}

#ccuenta[value=basica]:checked ~ #basica{
    display:block;
}

#ccuenta[value=premium]:checked ~ #premium{
    display:block;
}