.tabla {
    display: flex;
    flex-wrap: wrap;
}

#alinInicio {
    justify-content: flex-start;
    background-color: gainsboro;
}

#alinFin {
    justify-content: flex-end;
    background-color:wheat;
}

#invertOrden {    
    flex-direction: row-reverse;
    background-color:rgb(145, 247, 114);
}

.columna {
    width: 50px;
    height: 50px;
    margin: 5px;
}

.rojo {
    background-color: red;
}

.verde {
    background-color: green;
}

.azul {
    background-color: blue;
}

.amarillo {
    background-color: yellow;
}

.morado {
    background-color: violet;
}